<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/!"><i class="fa fa-medkit" aria-hidden="true"></i> VS</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#/!"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#!search_health_unit"><i class="fa fa-search"></i> Consultar Unidade de Saúde</a></li>
                    <li><a href="#!searchcomplaint"><i class="fa fa-search"></i> Pesquisar Queixa</a></li>
                    <li><a href="#!searchaverage"><i class="fa fa-search"></i> Pesquisar Média Médico por Paciente</a></li>
                    <li><a href="#!generalSituationComplaints"><i class="fa fa-search"></i> Situação geral das queixas</li>
                    <li><a href="#!login" data-toggle="modal" data-target="#Login"> Login </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#!/complaint/register"><i class="fa fa-plus"></i> Adicionar Queixa</a>
                    </li>
                </ul>
            </div>
            </nav>
        </div>
    </div>
</div>

<!-- Modal Login-->
<div class="modal fade" id="Login" role="dialog">
  <div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Login</h4>
  </div>
  <div class="modal-body">
          <div>
            <b>Email:</b>
            <input ng-model="userEmail" placeholder="myemail@domain.com">
          </div>
          <div>
            <b>Username:</b>
            <input ng-model="userName" placeholder="My Name">
          </div>
          <div>
            <b>Password:</b>
            <input ng-model="userPassword" placeholder="My Password">
          </div>

        </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" ng-click="logar(userName, userEmail, userPassword)">Save</button>
  </div>
</div>
