
<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
  <a href="#!/login" onclick="w3_close()" class="w3-bar-item w3-button">ADM login</a>
  <a href="#!analiseQueixa" onclick="w3_close()" class="w3-bar-item w3-button">Analisar Queixas</a>
  <a href="#!eficiencia" onclick="w3_close()" class="w3-bar-item w3-button">Eficiencia</a>
  <a href="#!/adicionarUnidade" onclick="w3_close()" class="w3-bar-item w3-button">Adicionar Unidade de Saúde</a>
  <a href="#!modificarSituacao" onclick="w3_close()" class="w3-bar-item w3-button">Modificar Situação da Prefeitura</a>
</div>
<script>
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
}
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>
