<div class="container center-block">
    <div>
         <form name="complaintForm">
            <div class="col-md-5 col-md-offset-3">
                <fieldset>
                    <legend>Adicionar Unidade de Saúde</legend>

                    <div class="form-group row">
                        <b>Bairro</b>
                        <input type="text" class="form-control" name="bairro" id="inputName" ng-model="healthunit.bairro" ng-required="true">

                    </div>
                </fieldset>
                <button class="btn btn-primary btn-block" ng-click="addHU(healthunit)" ng-disabled="complaintForm.$invalid">Adicionar Unidade</button>
            </div>
        </form>
    </div>
</div>
