<div class="container center-block">
  <div ng-repeat="complaint in complaints">
    <div class="jumbotron col-md-6 col-md-offset-2">
      <h2><bold>Id:</bold> {{ complaint.id }}</h1>
      <p><bold>Descrição: </bold>{{complaint.descricao}}</p>
      <p><bold>Comentário: </bold> {{complaint.comentario}}</p>
      <br/>
      <p><bold>Dados do Estabelecimento</bold></p>
      <p><bold>Rua:</bold> {{complaint.estabelecimento.rua}}</p>
      <p><bold>UF:</bold> {{complaint.estabeleciemnto.uf}}</p>
      <p><bold>Cidade:</bold> {{complaint.estabeleciemnto.cidade}}</p>
      <br/>
      <p><bold>Situação:</bold> {{complaint.situacao}}</p>

    </div>
  </div>

  <div class="jumbotron col-md-6 col-md-offset-2">
    <button type="button" class="btn btn-primary btn-block" ng-click="getComplaints()">Listar Queixas</button>
    <button type="button" class="btn btn-primary btn-block" ng-click="getComplaints()">Pesquisar Queixa</button>
  </div>
</div>