<div class="container center-block">
    <div class="jumbotron" id="register">
        <div class="login">
          <div>
            <b>Email:</b>
            <input ng-model="userEmail" type="text" class="form-control" placeholder="email@domain.com" autofocus="true"/>
          </div>
          <br />
          <div>
            <b>Password:</b>
            <input type="password" ng-model="userPassword" class="form-control" placeholder="Password"/>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block" ng-click="login(userEmail, userPassword)">Log In</button>
      </div>
    </div>
</div>

<div class="container center-block">
    <div class="jumbotron" id="register">
          <div>
            <b>Email:</b>
            <input ng-model="complaint.email" type="text" class="form-control" placeholder="email@domain.com">
          </div>
          <br />
          <div>
            <b>Username:</b>
            <input ng-model="complaint.nome" type="text" class="form-control" placeholder="My Name">
          </div>
          <br />
          <div>
            <b>Password:</b>
            <input type="password" ng-model="complaint.senha" class="form-control" placeholder="Password"/>
          </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-block" ng-click="cadastrar(complaint)">Cadastrar</button>
    <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Fechar</button>
  </div>
    </div>
</div>

</div>
