<div class="container center">
    <div class="jumbotron" id="register">
        <div class="login">
          <div>
            <b>Email:</b>
            <input ng-model="userEmail" placeholder="myemail@domain.com" class="login-field">
          </div>
          <br />
          <div>
            <b>Password:</b>
            <input type="password" ng-model="userPassword" placeholder="Password" class="login-field">
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="login(userEmail, userPassword)">Log In</button>
      </div>
    </div>

    <div class="container center">
  <form name="complaintForm">
    <div class="jumbotron">
          <div>
            <b>Email:</b>
            <input ng-model="complaint.email" placeholder="myemail@domain.com">
          </div>
          <div>
            <b>Username:</b>
            <input ng-model="complaint.nome" placeholder="My Name">
          </div>
          <div>
            <b>Password:</b>
            <input type="password" ng-model="complaint.senha" placeholder="My Password">
          </div>

        
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <button type="button" class="btn btn-primary" ng-click="cadastrar(complaint)">Cadastrar</button>
  </div>
    </div>
  </form>  
</div>

</div>